<div class="home" ng-show="boardId === ''" ng-cloak>
  <section>
    <h1><img src="img/logo.png" />CT Retro</h1>
      <h3 class="form-signin-heading" ng-show="currentUser">Welcome Back! {{currentUser.password.email.split('@')[0]}}</h3>
      <h3 class="form-signin-heading bg-danger">{{error}}</h3>
      <button ng-model="newboard" ng-show="currentUser" ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>
<br/><br/><br/>
      <div ng-model="loginform" ng-hide="currentUser" class="wrapper">
          <form name="Login_Form" class="form-signin" ng-submit="login()">
              <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
              <hr class="colorgraph"><br>

              <div class="form-signin-control">
                <input type="email" class="form-control" pattern="[^ @]*@[^ @]*"  ng-model="Email" placeholder="Company Email" required="true" autofocus="" />
              </div>
              <div class="form-signin-control">
                <input type="password" class="form-control" ng-model="Password" placeholder="Password / Do not provide Siemens credentials" required="true"/>
              </div>
              <button name="Submit" value="Login" type="submit">SIGNUP / LOGIN</button>
          </form>
      </div>

              <table class="table table-hover boards-table" ng-show="currentUser">
                  <tbody>
                  <tr ng-repeat="board in boards">
                      <td>{{board.boardName}}</td>
                      <td><a ng-click="redirectToBoard(board.$id)">Go to Board</a></td>
                  </tr>
                  </tbody>
              </table>

      <button ng-model="newboard" ng-show="currentUser && boards.length > 10" ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>

      <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    </style>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </section>
</div>
