<div ng-show="boardId !== ''" class="menu">
  <h2>{{boardName}}</h2>
  <span class="menu-controls">
    <label class="menu-controls">Sort by</label>
    <select ng-model="sortField">
      <option value="$id">Created date</option>
      <option value="votes">Votes</option>
    </select>
     &nbsp;&nbsp;Max Vote Count&nbsp;&nbsp;&nbsp; <input class="small" ng-model="votecount" type="text" ng-pattern="/^\d+$/" maxlength="2"></input>
    <button style="height: 22px;" type="submit" ng-click="saveVoteCount()">Update</button>

    <button class="pull-right new-column" ng-show="board.columns.length < 6" ng-click="modalService.openAddNewColumn(this)">New column</button>
  </span>
</div>
